# Stochastic Simulation: Discrete Event Simulation

In [3]:
import math
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import scipy.stats as st
import random as rd
from importlib import reload  
import statsmodels.api as sm
from typing import Union

import TidySimStat as tss
# tss = reload(tss)

## 1. Output Detailed Simulation Results

In [2]:
ser = tss.Servers(f_serve=lambda: tss.sim_exp(8), f_inter=lambda: tss.sim_exp(1), num_servers=10, cap_queue=1)
while ser.clock <= 10000:
    ser.advance()

In [3]:
ser.pd_events[0:5]

,clock,type,len_queue,num_arriveds,num_busys,num_block,i_customer
1,1.268942,arrive-serve,0,1,1,0,1
2,2.946941,leave,0,1,0,0,1
3,3.396205,arrive-serve,0,2,1,0,2
4,3.637666,leave,0,2,0,0,2
5,4.612698,arrive-serve,0,3,1,0,3

In [4]:
ser.pd_times[0:10]

       clock   type          t  i_customer
1   1.268942  serve   1.677999           1
2   1.268942  inter   2.127263           2
3   3.396205  serve   0.241461           2
4   3.396205  inter   1.216493           3
5   4.612698  serve   9.324217           3
6   4.612698  inter   0.125279           4
7   4.737977  serve   3.924686           4
8   4.737977  inter   0.237876           5
9   4.975852  serve  17.699063           5
10  4.975852  inter   0.956431           6

## 2. Calculate Block Rates of Queueing System with Finite Waiting Space

In [7]:
block_rates = [0 for i in range(100)]
for i in range(10):
    ser = tss.Servers(f_serve=lambda: tss.sim_exp(8), f_inter=lambda: tss.sim_exp(1), num_servers=10, cap_queue=0)
    while ser.num_arriveds <= 100000:
        ser.advance()
    block_rates[i] = ser.num_block / 10000

In [8]:
tss.cal_mean_sample(block_rates)

0.12170600000000001

## 3. Theoretical Results

In [6]:
def cal_erlangs_b(num_servers, a):
    prob_block = a**num_servers / math.factorial(num_servers) / \
        sum([a**i / math.factorial(i) for i in range(0, num_servers+1)])
    return prob_block

In [7]:
cal_erlangs_b(10, 8)

0.12166106425295149

In [26]:
def walk_rd():
    delta = -1 if rd.randint(1, 2) == 2 else 1
    return delta

In [43]:
walk_rd()

1

In [45]:
d = {}
d[(1, 1)] = 5
d

{(1, 1): 5}

In [57]:
d = {1: 1, 2: 3, 3:4}
[i for i in d.keys()]
max(d.keys())

3

In [52]:

help(keys)

NameError: name 'keys' is not defined