# Stochastic Simulation: Discrete Event Simulation

In [7]:
import math
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import scipy.stats as st
import random as rd
from importlib import reload  
import statsmodels.api as sm
from typing import Union

import TidySimStat as tss
# tss = reload(tss)

## 1. Output Detailed Simulation Results

In [8]:
ser = tss.Servers(f_serve=lambda: tss.sim_exp(8), f_inter=lambda: tss.sim_exp(1), num_servers=10, cap_queue=1)
while ser.clock <= 10000:
    ser.advance()

In [9]:
ser.pd_events[0:5]

,clock,type,len_queue,num_arriveds,num_busys,num_block,i_customer
1,1.513364,arrive-serve,0,1,1,0,1
2,3.027902,arrive-serve,0,2,2,0,2
3,3.515396,leave,0,2,1,0,1
4,4.471413,arrive-serve,0,3,2,0,3
5,5.376605,arrive-serve,0,4,3,0,4

In [10]:
ser.pd_times[0:10]

       clock   type          t  i_customer
1   1.513364  serve   2.002032           1
2   1.513364  inter   1.514539           2
3   3.027902  serve  25.952955           2
4   3.027902  inter   1.443510           3
5   4.471413  serve   5.645919           3
6   4.471413  inter   0.905193           4
7   5.376605  serve   1.255494           4
8   5.376605  inter   1.975906           5
9   7.352511  serve   9.063047           5
10  7.352511  inter   0.553235           6

## 2. Calculate Block Rates of Queueing System with Finite Waiting Space

In [13]:
block_rates = [0 for i in range(10)]
for i in range(10):
    ser = tss.Servers(f_serve=lambda: tss.sim_exp(8), f_inter=lambda: tss.sim_exp(1), num_servers=10, cap_queue=0)
    while ser.num_arriveds <= 10000:
        ser.advance()
    block_rates[i] = ser.num_block / 10000

In [14]:
block_rates

[0.1228,
 0.1187,
 0.1285,
 0.1234,
 0.1164,
 0.1284,
 0.1299,
 0.1282,
 0.1082,
 0.1091]